// Manuel was here!
extends ../layout

block content
  header.header-text-2
    .container
      .row
        .col.text-center.text-light
          h1= title

  .container
    .row
      .col
      
        // Render the markdown content as raw HTML
        .blog-content!= content
