extends ../layout

block content

  header.header-kids
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  VIDA KIDS 
          h5  1 año - 12 años
          br
          p
            | Hay tanto que aprender en Vida Kids! Cada semana servimos con gozo a la siguiente generación, enseñándoles amar a Dios y la casa de Dios! Cada niño tiene una experiencia apropiada para su edad.
        .col-2
      .row
        .col
          br
          h2  Horario de Reuniones 
          br
          // <p class="">Nuestros pastores, Mario y Soraya, tienen un corazón enfocado en alcanzar a la comunidad en nuestro alrededor y más allá con el mensaje de Jesús que transforma vidas. Ellos creen en el desarrollo de la madurez espiritual y familiar, la educación, y el desarrollo del carácter cristiano por medio de la Fe.</p>
      .row
        .col
          h4  Viernes 
          p.font-weight-bold  7:30 PM (Durante el servicio)
        .col
          h4  Domingo
          p.font-weight-bold  3:00 PM (Durante el servicio)
      .row
        .col
          p
          | *Para mas informacion, por favor contacte a 
          b Hna. Alma Pereira 
          br
          a(href='mailto:alma@tuvidanueva.org') alma@tuvidanueva.org
  .section-lighter
    .container.text-center
      .row
        .col-md
          h3  Sala Cuna 
          h5  1 - 3 años (y puedan caminar)
          br
          p
            | Un espacio de amor y cuidado donde los más pequeños comienzan a conocer a Jesús a través de juegos y actividades de coloreado.
        .col-md
          h3  Amigos de Jesus 
          h5  3 - 6 años 
          br
          p
            | Los niños son el futuro de mañana. Por eso, nuestro enfoque es conectar con ellos a través de alabanzas, lecciones bíblicas, manualidades, interacciones y tiempo de snack, sembrando en sus corazones el amor de Dios.
        .col-md
          h3  Hijos del Rey
          h5  6 - 8 años
          br
          p
            | En esta etapa, los niños aprenden a fortalecer su fe y confianza en Dios por medio de historias bíblicas interactivas, alabanzas, actividades creativas y juegos que refuerzan valores cristianos.
        .col-md
          h3  Discipulos de Jesus
          h5  8 - 12 años 
          br
          p
            | Nuestra misión es guiar a los niños en su crecimiento espiritual, ayudándolos a profundizar su conocimiento de la Palabra de Dios a través de dinámicas, estudios bíblicos, adoración y actividades que los preparan para ser discípulos de Jesus.