extends ../layout

block content

  header.header-kids
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  VIDA KIDS 
          h5  0 meses - 12 años
          br
          p
            | Hay tanto que aprender en Vida Kids! Cada semana servimos con gozo a la siguiente generación, enseñándoles amar a Dios y la casa de Dios! Cada niño tiene una experiencia apropiada para su edad.
        .col-2
      .row
        .col
          br
          h2  Horario de Reuniones 
          br
          // <p class="">Nuestros pastores, Mario y Soraya, tienen un corazón enfocado en alcanzar a la comunidad en nuestro alrededor y más allá con el mensaje de Jesús que transforma vidas. Ellos creen en el desarrollo de la madurez espiritual y familiar, la educación, y el desarrollo del carácter cristiano por medio de la Fe.</p>
      .row
        .col
          h4  Viernes 
          p.font-weight-bold  7:30 PM (Durante el servicio)
        .col
          h4  Domingo
          p.font-weight-bold  3:00 PM (Durante el servicio)
      .row
        .col
          p
          | *Para mas informacion, por favor contacte a 
          b Hna. Alma Pereira 
          br
          a(href='mailto:alma@tuvidanueva.org') alma@tuvidanueva.org
          br
          a(href='tel:6507596494') (650) 759 - 6494
  .section-lighter
    .container.text-center
      .row
        .col-md
          h3  Infantes 
          h5  0 meses - 3 años
          br
          p
            | Proporcionamos un ambiente seguro, estimulando sus habilidades para un desrrollo saludable. Cantando, jugando, y leyendo historias biblicas juntos!
        .col-md
          h3  Niños 
          h5  4 años - 8 años 
          br
          p
            | Los niños son el futuro de mañana, por eso nuestro enfoque es conectar con nuestros niños por medio de alabanzas, lecciónes, manualidades, interacciónes y tiempo de snack.
        .col-md
          h3  J12 
          h5  9 años - 12 años 
          br
          p
            | Jesús a los 12 años declaró estar en los negocios de nuestro Padre. Sus hijos escucharan un mensaje donde tendrán la oportunidad de preguntar y hablar que significa lo que Jesús hacia a los doce años.