extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/matrimonio-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  MATRIMONIOS
          br
          h3 Picnic de Parejas
          h4 15 de Abril
          p 
          p.font-weight-bold Horario: 11:30 AM 
          p.font-weight-bold
            a(href="https://goo.gl/maps/ccFosZB2wT1Xp9aS7") Lake Chabot Park - Castro Valley
          img.img-fluid(src="img/especiales/picnic-parejas.jpeg", alt="picnic-parejas")
          br
          br
          p
            | *Para mas informacion, por favor contacte a 
            br
            b Karla y Francisco De Leon

        .col-2
      