extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/matrimonio-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  MATRIMONIOS
          br
          h2 Evento especial: Una Cita con mi Amada
          h4 Miercoles, 16 de Noviembre
          p 
          p.font-weight-bold  6:30 PM (lugar pendiente)
            
            //- a(href="https://goo.gl/maps/nVu9HEpoQdnMHRa77") Kidz Building 
          p
            | *Para mas informacion, por favor contacte a 
            br
            b Karla y Francisco De Leon
            br
            a(href='tel:4156789557') 415-678-9557

        .col-2
      