extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/matrimonio-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  MATRIMONIOS
          br
          h3 Picnic de Parejas
          h4 15 de Abril
          p 
          br
          br
          p
            | *Para mas informacion, por favor contacte a 
            br
            b Karla y Francisco De Leon

        .col-2
      