extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/mujeres-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-1
        .col
          h1  MUJERES 
          br
          p
            | El Ministerio de Mujeres entiende el papel valioso que juegan las mujeres en nuestra iglesia y nuestras vidas. Deseamos ayudar a mujeres de todas las edades y etapas de la vida a comprender lo que Cristo y Su Palabra enseñan sobre la mujer; y luego mostrarles cómo vivirlo prácticamente. Estamos para motivarnos y apoyarnos unas a las otras. 
        .col-1
  .section-white
    .container.text-center
      .row
        .col
          h2  Horario de Reuniones 
      .row
        .col-md
          h4  Jueves
          p.font-weight-bold  7 - 8:30 PM en 
            a(href="https://goo.gl/maps/nVu9HEpoQdnMHRa77") Kidz Building 
          p
            | *Para mas informacion, por favor contacte a 
            br
            b Pastora Soraya Zambrano

