extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/mujeres-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-2
        .col
          h1  MUJERES
          br
          p
            | In progress...
        .col-2
      