extends ../layout

block content

  header.header-background-image(style='background-image: url("../img/familia/oracion-header.jpg"); background-position: center center;')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-1
        .col
          h1  ORACIÓN
          br
          p
            | Nuestra Misión es: Escuchar, orar, consolar, acompañar y guiar a través de una palabra de edificación.
          p
            | Queremos orar contigo, queremos orar por ti. Estamos aquí para servirte.
        .col-1
  .section-white
    .container.text-center
      .row
        .col
          h2  Horario de Reuniones
      .row
        .col-md
          h4  2do y 4to Lunes de cada mes
          p.font-weight-bold  7 PM en
            a(href="https://goo.gl/maps/nVu9HEpoQdnMHRa77") Kidz Building
          p
            | *Para mas informacion, por favor contacte a
            br
            b Zoraida González
            br
            | (510) 686-0144
