extends ../layout

block content


  header.header-background-image(style='background-image: url("../img/familia/varones-header.jpg")')
    .container
      .row
  .section-white
    .container.text-center
      .row
        .col-1
        .col
          h1  VARONES
          //- br
          //- p
          //-   | En Vida Youth creemos que los jóvenes son el futuro de HOY! Les ayudamos a descubrir y seguir adelante en su relación con Jesús, la bendición más grande que Dios nos a regalado. Crecemos juntos el uno con el otro y nos gozamos cuando nuestra comunidad se une con nosotros. En cada temporada hay algo que hacer como retiros, campamentos, días de campo, cenas y mucho más donde no divertimos mientras aprendemos mas de Jesus! 
        .col-1
  .section-white
    .container.text-center
      .row
        .col
          h2  Horario de Reuniones 
          br
      .row
        .col-md
          h4  Segundo y Cuarto Lunes 
          p.font-weight-bold  7 PM en 
            a(href="https://goo.gl/maps/nVu9HEpoQdnMHRa77") Kidz Building 
          p
            | *Para mas informacion, por favor contacte a 
            br
            b Hno. Oscar Monroy

