extends layout

block content
    header.header-text-1
        .container
            .row
                .col.text-center.text-light
                    h1 2020 Vida Nueva Impulso Académico Scholarship
    iframe.scholarship(src="https://docs.google.com/forms/d/e/1FAIpQLSd8M24CLItXYmC2qT0m0LccWEt_q4BdBYBhjaa_9_h8JBsPDA/viewform?usp=sf_link", frameborder="0")
    