extends layout

block content
  header.header-text-1
    .container
      .row
        .col.text-center.text-light
          h1 Vida Nueva Impulso Académico Scholarship
  .container
    .row
      .col
        p Bienvenido a la aplicación de la beca Impulso Académico Scholarship!
        p
          | Esta beca proporcionará apoyo financiero a cada candidato que es elegido basado en su estatus educativo, membresía de la Iglesia Vida Nueva, y al compromiso al estudio o carrera.
        h3 Requisitos
        b Estatus educativo
        p
          | - Está aceptado o atendiendo en la actualidad en un instituto académico de educación postsecundaria (i.e. community college, universidad, o carrera/certificado tecnica) - Deberá presentar prueba por medio de una carta de aceptación o transcritos académicos (oficiales o semioficiales).
        p Average de GPA – Minimo de 3.0 GPA
        p
          | - Al menos que haya una explicación válida de circunstancias extraordinarias.  - Debera presentar transcritos academicos. - * Nota: si aún no está atendiendo, por favor mande sus transcritos más recientes de la high school o de su educación más reciente (oficiales o semioficiales).
        b Membresía de La Iglesia
        p
          | Por favor lea los requisitos de la membresía para verificar si eres elegible:
          a(href="https://docs.google.com/document/d/1HUYdSWnbeFKW3SwM4rUuFFViTGZLmE8b0CNTTsfiiDI/edit?usp=sharing") Eligibilidad de Membresia
        b Compromiso al Estudio o Carrera
        p
          | - Debe de mostrar un deseo de seguir estudiando o perseguir una carrera después de graduacion. - Escribirá una carta para demostrar sus metas académicas - Mostrar pruebas de que han buscado interés de sobresalir por medio de una entrevista final en donde preguntaremos sobre el progreso en por lo menos en UNO de estos aspectos:  - Aplicaciones a trabajos o aprendizajes (en inglés “internships”)  - Aumento en sus calificaciones  - Actividad reciente en una organización o club académico  - Proyectos/Logros personales relacionado a su carrera
        b Procedimiento
        p
          | Si eres elegible, deberás de: - completar este formulario - Si es elegido para la ronda final, tendrás que prepararte para una entrevista virtual donde le haremos preguntas sobre sus logros personales, experiencia, y su carta que escribió.
        b Como Aplicar a la Beca
        p Haz click en el boton de abajo para aplicar.
  .container.text-center
    a.text-center.btn.btn-info(href='https://forms.gle/id5zGL4XTctF2e2TA') Aplicar para beca
  br
  .container
    .row
      .col
        b Preguntas? Puedes contactar a...
        br
        p Guillermo Sanchez |
          a(href="mailto:guillermo@tuvidanueva.org") guillermo@tuvidanueva.org
        p Tony Avila |
          a(href="mailto:tony@tuvidanueva.org") tony@tuvidanueva.org
