//- blog.pug

extends layout

block content
  h1 Blog Page
  ul
    each blog in blogs
      li
        h2= blog.title
        h4= blog.subtitle
        p= blog.description
        if blog.imageUrl
          img(src=`/path/to/images/${blog.imageUrl}`, alt="Blog Image")
