extends layout

block content
    .section-pastor
      .container
        .row
          .col-2
          .col.text-center.text-light
            h1  NUESTROS PASTORES 
            h4.font-weight-light  Mario + Soraya Zambrano
            br
            p
              | Nuestros pastores, Mario y Soraya, tienen un corazón enfocado en alcanzar a la comunidad en nuestro alrededor y más allá con el mensaje de Jesús que transforma vidas. Ellos creen en el desarrollo de la madurez espiritual y familiar, la educación, y el desarrollo del carácter cristiano por medio de la Fe.
          .col-2

    .section-white
      .container
        .row
          .col-1
          .col.text-center
            h3  Nuestra Vision 
            p
              | Esta es una denominación eminentemente pentecostal en su doctrina
              | y forma de adoración. La Iglesia Cuadrangular se llama así porque la doctrina
              | de la iglesia reconoce cuatro aspectos principales de Jesucristo.
            p
              a.btn.btn-info(data-toggle='collapse' href='#vision-collapse' role='button' aria-expanded='false' aria-controls='collapseExample')
                | Leer más
          .col-1
        // Card decks for visions
        .row
          .col-md
            #vision-collapse.collapse
              .card-deck
                .card
                  img.card-img-top.vision-icon(src='img/vision/cruz.jpg' alt='Card image cap')
                  .card-body
                    h5.card-title Jesucristo: el Salvador
                    p.card-text
                      | El Primer y más importante aspecto de la doctrina Cuadrangular es que Jesucristo es el único medio de la salvación para la persona. La salvación no es por obras sino por gracia por medio de la fe, nadie se puede salvar a sí mismo. Efesios 2:8
                    // <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                .card
                  img.card-img-top(src='img/vision/copa.jpg' alt='Card image cap')
                  .card-body
                    h5.card-title Jesucristo: el Sanador
                    p.card-text
                      | La Salvación, el perdón de los pecados no es el final de todo lo que Jesús puede y quiere hacer por la persona. Una vez convertidos a Él, la persona puede ser llena del Espíritu Santo y tener la evidencia de ese bautismo a través de la manifestación de los 9 dones mencionados en 1 Corintios 12.
                .card
                  img.card-img-top(src='img/vision/paloma.jpg' alt='Card image cap')
                  .card-body
                    h5.card-title Jesucristo: el Bautizador con el Espíritu Santo
                    p.card-text
                      | En la Cruz del Calvario Jesús llevó nuestros pecados y también nuestros dolores y enfermedades. Nos a prometido que por su llagas somos curados. Podemos ser sanados sobrenaturalmente de nuestras enfermedades físicas por medio del Poder de Dios. Isaias 53
                .card
                  img.card-img-top(src='img/vision/corona.jpg' alt='Card image cap')
                  .card-body
                    h5.card-title Jesucristo: el Rey que viene
                    p.card-text
                      | Jesucristo regresa pronto a reinar. La Biblia le llama Rey de reyes y Senor de senores. Esta es la maravillosa esperanza que tenemos. Apocalipsis 22
    
    header.header-text-1
        .container
            .row
                .col.text-center.text-light
                    h1 ¿QUÉ ES LO QUE CREE LA IGLESIA DEL EVANGELIO CUADRANGULAR?
    br
    .container
        .row
            .col.creencia
                p(style='text-align: left;')
                    strong 1. Las Sagradas Escrituras (2 Timoteo 3:16-17) 
                    |  Creemos que la Biblia es inspirada por Dios.
                p(style='text-align: left;')
                    strong 2. La Divinidad Eterna (Mateo 3:16-17)
                    |   Creemos que Dios es trino: Padre, Hijo y Espíritu Santo.
                p(style='text-align: left;')
                    strong 3. La Caída del Hombre (Romanos 5:12)
                    |   Creemos que el hombre fue creado a la imagen de Dios, pero por su desobediencia voluntaria cayó de la perfección.
                p(style='text-align: left;')
                    strong 4. El Plan de la Redención (Juan 3:16)
                    |   Creemos que mientras estábamos sumergidos en el pecado, Cristo murió por nosotros dándonos el perdón a todos los que creemos en El. 
                    strong
                        br
                p(style='text-align: left;')
                    strong 5. La Salvación a Través de la Gracia (Efesios 2:8)
                    |  Creemos que no somos nada bueno, sino que tenemos que venir a Cristo para que él nos llene de Sus virtudes.
                p(style='text-align: left;')
                    strong 6. La Aceptación y Arrepentimiento
                    strong (1 Juan 1:9)
                    |   Creemos que si aceptamos a Cristo con todo nuestro corazón y tenemos un sincero arrepentimiento de nuestros pecados, somos justificados delante de Dios.
                p(style='text-align: left;')
                    strong 7 .El Nuevo Nacimiento (Juan 3:3)
                    |   Creemos que el cambio que hace en nuestro corazón y en nuestra vida el convertirnos es real.
                p(style='text-align: left;')
                    strong 8. La Vida Cristiana Diaria (Hebreos 6:1)
                    |   Creemos que es la voluntad de Dios que seamos santificados diariamente y un crecimiento constante en la fe.
                p(style='text-align: left;')
                    strong 9. El Bautismo y la Comunión del Señor (Mateo 28:19; 1 Corintios 11:28)
                    |  Creemos que el bautismo por inmersión es una señal exterior de la obra interior. Nosotros creemos que al conmemorar la Cena del Señor usamos simbólicamente el pan y el jugo de la vid. 
                    strong
                        br
                p(style='text-align: left;')
                    strong 10 .El Bautismo en el Espíritu Santo (Hechos 2:4)
                    |  Creemos que el Bautismo del Espíritu Santo llena al creyente con poder.
                p(style='text-align: left;')
                    strong 11. La Vida Llena del Espíritu (Hechos 5:16,25)
                    |  Creemos que es la voluntad de Dios que caminemos diariamente en el Espíritu. 
                    strong
                        br
                p(style='text-align: left;')
                    strong 12. Los Dones y el Fruto del Espíritu (1 Corintios 12:1; Gálatas 5:22-23)
                    |   Creemos que el Espíritu Santo tiene dones para darnos; y debemos enseñar frutos espirituales como una evidencia de llenura del Espíritu Santo en nuestra vida.
                p(style='text-align: left;' align='center')
                    strong 13. La Moderación (Filipenses 4:5)
                    |   Creemos que la experiencia y la vida diaria del creyente nunca deberían llevarnos a extremos de fanatismos. 
                    strong
                        br
                p(style='text-align: left;' align='center')
                    strong 14. La Sanidad Divina (Santiago 5:14-16)
                    |   Creemos que la Sanidad Divina es el poder de Cristo para sanar al enfermo, en respuesta a la oración de fe. 
                    strong
                        br
                p(style='text-align: left;' align='center')
                    strong 15. La Segunda Venida de Cristo (1 Tesalonicenses 4:16-17)
                    |   Creemos que la Segunda Venida de Cristo es corporal e inminente. 
                    strong
                        br
                p(style='text-align: left;' align='center')
                    strong 16. El Congregarse en la Iglesia (Hechos 16:5)
                    |  Creemos en la sagrada obligación de identificarnos con la iglesia visible de Cristo.
                p(style='text-align: left;' align='center')
                    strong 17. El Gobierno Civil (Romanos 13:1-5)
                    |   Creemos que las reglas deberían ser cumplidas todo el tiempo, excepto cuando las cosas son contrarias a la voluntad de Dios.
                p(style='text-align: left;' align='center')
                    strong 18. El Juicio (2 Corintios 5:10, Apocalipsis 20:11-15)
                    |   Creemos que todos los hombres compareceremos ante el tribunal de Dios: Los redimidos para galardón y los que rechazaron a Cristo para condenación eterna. 
                    strong
                        br
                p(style='text-align: left;' align='center')
                    strong 19. El Cielo (1 Corintios 2:9)
                    |   Creemos que el cielo es la gloria eterna, nuestra casa para los que hemos nacido de nuevo.
                p(style='text-align: left;' align='center')
                    strong 20. El Infierno (Apocalipsis 20:10-15)
                    |   creemos que el infierno es el lugar de eterno tormento para todos los que han rechazado a Jesucristo como su Señor y Salvador. 
                    strong
                        br
                p(style='text-align: left;' align='center')
                    strong 21. El Evangelizar (Santiago 5:20)
                    |   creemos que un alma ganada para Cristo es el mejor negocio de la iglesia aquí en la tierra.
                p(style='text-align: left;' align='center')
                    strong 22. Diezmos y Ofrendas:
                    |  Nosotros creemos que el método ordenado por Dios para el sustento y extensión de su causa, es el dar nuestros diezmos y ofrendas voluntarias (Malaquías 3:10, II Corintios 9:7).
                p  
        .gdlr-core-page-builder-body