extends layout

block content

  header.header-text-2
    .container
      .row
        .col.text-center.text-light
          h1 Donar
  br
  .container
    //h1.text-center Como Donar
    .row
      .col.text-center.dar-shadow
        h2.text-center En Linea
        p Simple y seguro. Puedes hacer una donacion o hacerlo recurrentes :)
        img(style='height:160px;' src='img/donar/comp.png' alt='Computer')
        br
        br
        a(href='https://tuvidanuevasl.churchcenter.com/giving')
          button.btn.btn-info(type='button') Donar en Linea
