extends layout

block content

  header.header-text-2
    .container
      .row
        .col.text-center.text-light
          h1 DONAR
  br
  .container
    h1.text-center Como Donar
    .row
      .col.text-center.dar-shadow
        h2.text-center En Linea
        p Simple y seguro. Puedes hacer una donacion o hacerlo recurrentes :)
        img(style='height:160px;' src='img/donar/comp.png' alt='Computer')
        br
        br
        a(href='https://tuvidanuevasl.churchcenter.com/giving')
          button.btn.btn-info(type='button') Donar en Linea
      .col.text-center.dar-shadow
        h2.text-center En Movil
        p
          | Envia un texto a 
          a(href='tel:84321')
            b 84321
          |                         diciendo la cantidad y el nombre de fondo 
          b "Ofrenda"
          |  o 
          b "Diezmo"
          | .
          |                         Por ejemplo: "
          b $20 Ofrenda
          | "
          br
          |                         Despues sigue las intstrucciones de la respuesta que te llegue.
        img(style='height:160px; margin:8px;' src='img/donar/phone.png' alt='Computer')
      .col.text-center.dar-shadow
        h2.text-center Por Correo
        p 
          | Envia tu cheque a:
          br
          | Vida Nueva,
          | 4157 P.O. Box,
          | San Leandro,
          | CA 94579
        img(style='height:160px;' src='img/donar/check.png' alt='Computer')
        
