extends layout

block content

  script(src="https://apis.google.com/js/platform.js")

  .embed-responsive.embed-responsive-21by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/' + videos.items[0].contentDetails.videoId)  

    .section-white.text-center
      .container
        .row
          .col
            h2 Empezamos nuestro servicio los Domingos a las 3pm
            br
            br
            //- .g-ytsubscribe(data-channelid="UC_aDAeNyjmPONJC0Vfxlsgg" data-layout="full" data-count="default")
            //- br
            //- br

      .container
        .row
          .col
            h3 Mensajes Recientes
      if videos
      .container
        .row
          each v in videos.items
            .col-md-6
              .card
                .card-image
                  .embed-responsive.embed-responsive-16by9
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/' + v.contentDetails.videoId frameborder='0' allowfullscreen='true')

      .container
        .row
          .col
            a(href='https://www.youtube.com/c/VidaNuevaSanLeandro')
              button.btn.btn-info Más Mensajes
            p
            a(href="https://www.youtube.com/channel/UC_aDAeNyjmPONJC0Vfxlsgg?sub_confirmation=1")
              button#subscribe.btn.btn-danger Subscribir en YouTube!
    
        
    //- header.header-main
    //-   .overlay
    //-   .container.h-100
    //-     .d-flex.h-100.text-center.align-items-center
    //-       .w-100.text-white
    //-         h3 Empezamos nuestro servicio en...
    //-         h1#countdown 

    //- script(src='js/countdown.js')